@import url('https://fonts.googleapis.com/css?family=Questrial');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.jumbotron{
  background: linear-gradient(
                    rgba(20,20,20,0.5),
                    rgba(20,20,20,0.5)),
                    url("https://www.liberatedstocktrader.com/wp-content/uploads/2017/11/pexels-photo-534216.jpeg");                    
  background-size: cover;
}

.jumbotron h1{ 
  font-family: 'Questrial', sans-serif;
  color: white;
  font-weight: bold;
}

.jumbotron p{
  font-family: 'Questrial', sans-serif;
  color: white;
  font-size: 24px;
}

.fundform {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
}

.fund {
  display: inline-block;
  border-style: solid;
  border-color: blue;
  border-width: 2px;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.funds-table h4{
  text-align: left;
  padding-left: 30px;
}

.invest-button {
  padding-left: 20%;
}

td, tr{
  text-align: center;
}

.nav-tabs{
  padding-top: 20px;
}

.form-control-file{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 2px;
}

.ipfs-result{
  padding-top: 20px;
  padding-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
